if SHIELD_LILY59_DONGLE

config ZMK_KEYBOARD_NAME
    default "Lily59"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif

if SHIELD_LILY59_LEFT || SHIELD_LILY59_RIGHT || SHIELD_LILY59_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
	default y

endif
